<template>
    <main>
        <div class="container text-center">
            <h1>How To Install and Configure Vue 3 App in Laravel 9 with Vite 3 - W3TechPoint</h1>
            <blockquote class="text-center h5">Hi friends, in this tutorial you have learnt how to install and setup a basic Vue 3 app in Laravel 9 with Vite 3.<br>To learn more, please visit <strong><a href="https://www.w3techpoint.com/laravel">Recommended Laravel Tutorials</a></strong> and improvise yourself.</blockquote>
        </div>
    </main>
</template>